/* ---------* Reset CSS *------------ */
* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}
body {
	font-family: arial, sans-serif;
	/*background-color: #f5f6f7;*/
}
h1 { 
    font-size: 2.2em; 
} 
h2 { 
    font-size: 2.0em;     
} 
h3 { 
    font-size: 1.8em; 
} 
h4 { 
    font-size: 1.6em;     
} 
h5 { 
    font-size: 1.4em;     
} 
p { 
    font-size: 1.2em;     
}
/*
/* ---------* end: Reset CSS *------- */


/* ---------* Fonts *----------------- */
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
}
/* ---------* end: Fonts *------------ */


/* ---------* Header *---------------- */
header section nav div div.navbar-header a.navbar-brand {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #69b9ff;
	font-size: 25px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding-top: 16px;
	padding-bottom: 16px;
	text-decoration: none;
	font-family: OpenSans, sans-serif;
}
header section nav div div#home-menu ul.nav > li > a {
	background-color: #fff;
	border: none;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 16px;
	margin-right: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
} 
/* ---------* end: Header *----------- */


/* ---------* Body *------------------ */
section.main-content {
	border-bottom: 4px solid #69b9ff;
	background-color: #EDEFF2;
}
section#home-content {
	background: url('../img/city.jpg');
	background-size: cover;
	min-height: 600px;
}
section#home-content div.heading-title {
	text-align: center;
	padding-top: 130px;
}
section#home-content div.heading-title h1 {
	margin-bottom: 30px;
	color: white;
	font-size: 51px;
	line-height: 60px;
	font-weight: normal;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-family: OpenSans, sans-serif;
}
section#home-content div.heading-title h3 {
	margin-bottom: 40px;
	color: #2e9dff;
	font-size: 21px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: OpenSans, sans-serif;
}
section#home-content div.city-options {
	text-align: center;
	width: 160px;
	margin: auto;
}
section#home-content div.city-options div.dropdown a#city-dropdown {
	background: none;
	padding: 20px 55px;
	border-radius: 0;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
}
section#home-content div.city-options div.dropdown ul.dropdown-menu {
	border-radius: 0;
	margin-top: -1px !important;
}
section#home-content div.city-options div.dropdown ul.dropdown-menu > li > a {
	padding: 13px 17px;
	color: #000;
	font-size: 18px;
	padding: 10px 0 10px 20px;
	display: block;
}
section#home-content div.city-options div.dropdown ul.dropdown-menu > li > a:hover {
	background-color: #CACACA;
}
/* ---------* end: Body *------------- */


/* ---------* Footer *---------------- */
footer div.menu {	
	background-color: #EDEFF2;
}
footer div.menu div.menu-items {
	text-align: center;
	padding: 34px 0;
} 
footer div.menu div.menu-items ul {
	display: inline-block;
	float: none;
	vertical-align: top;
}
footer div.menu div.menu-items ul li {
	display: inline-block;
}
footer div.menu div.menu-items ul li a {
	font-family: 'Open Sans', sans-serif;
	color: #676770;
	font-weight: 300;
	font-size: .8em;
	text-decoration: none;
	padding: 0 10px;
}
footer div.menu div.menu-items ul li:not(:last-child) a {
	border-right: 1px solid #676770;
}
footer div.copyright {
	background-color: #383838;
	padding: 38px 0;
	text-align: center;
	color: #9A9E9E;
	font-family: 'Open Sans', sans-serif;
}
footer div.copyright div p {
	font-size: 16px;
}
/* ---------* end: Footer *----------- */


/* ---------* Custom *---------------- */
/* ---------* end: Custom *----------- */


/* ---------* Override Bootstrap *---- */
.navbar {
	margin-bottom: 9px;
}
.nav > li > a:hover, 
.nav > li > a:focus
{
	text-decoration: none;
	background: none;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
/* ---------* end: Override *--------- */